<center><h1>Rapid Share Files</h1>



<br/><br/><br/>
<table class="table text-center">
  <tr>

    <th width="5%" class="text-center">Name</th>
    <th width="5%" class="text-center">Size</th>
    <th width="5%" class="text-center">Content-type</th>
    <th width="5%" class="text-center">Download</th>
    <th width="5%" class="text-center">Display</th>
    <th width="5%" class="text-center">Destroy</th>

  </tr>

  <% @fileupload.each do |file| %>
      <tr align="center">
        <td><%= file.name %></td>
        <td><%= file.size %></td>
        <td><%= file.content_type %></td>
        <td><%= link_to "Download", download_path(file.id), :method => 'get' %></td>
        <!--<td><%= file.path %></td>-->
        <td><%= link_to 'Display', file_upload_path(file.id) %></td>
        <td><%= link_to 'Destroy', file_upload_path(file.id), :method => 'delete' %></td>

      </tr>
  <% end %>
</table>
    </center>