<h1>File Information</h1>
<p>
  <strong>File name:</strong>
  <%= @fileupload.name %>
</p>
<p>
  <strong>Size:</strong>
  <%= @fileupload.size %>
</p>
<p>
  <strong>Content-type:</strong>
  <%= @fileupload.content_type %>
</p>
<p>
  <strong>Download Link:</strong>
  <%= link_to "Download", download_path(@fileupload.id), :method => 'get' %>
</p>

<p>
  <strong>Delete Link:</strong>
    <td><%= link_to 'Destroy', file_upload_path(@fileupload.id), :method => 'delete' %></td>
</p>

<%= link_to 'Back', file_uploads_path %>